<li class="hotel-container">
    <div class="hotel-header">
        <div class="meta">
            <div class="title">{{hotel.title}}</div>
            <div class="address">{{hotel.hotelAddress}}</div>
            <div class="phone">{{hotel.hotelPhone}}</div>
            <div class="desc" >{{hotel.hotelDescription}}</div>
            {% if hotel.hotelImage.first %}
                <div class="image">
                    <img src="{{hotel.hotelImage.first.url}}"/>
                </div>
            {% endif %}
        </div>
        <div class="rates-container">
            {% if hotel.hotelRates %}
                <table class="rates rooms">
                    <tbody>
                        <tr>
                            <th>Rate/night</th>
                            <th>Description</th>

                            {% for block in hotel.hotelRates.all() %}
                                {% if block.type == "roomRates" %}
                                    <tr>
                                        <td>{{block.roomRate}}</td>
                                        <td>{{block.roomType}}</td>
                                    </tr>
                                {% endif %}
                            {% endfor  %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>
</li>
