<div class="WeddingParty-card">
    <div class="Image WeddingParty-image">
        <img src="{{ member.weddingPartyMemberPicture.one.getUrl('headshot') }}" alt="{{ member.weddingPartyMemberName }}">
    </div>
    <div class="WeddingParty-card--name">{{member.weddingPartyMemberName}}</div>
    <div class="WeddingParty-card--position">{{member.weddingPartyMemberPosition}}</div>
    <div class="WeddingParty-card--relation">{{member.weddingPartyMemberRelation}}</div>
</div>
