<li class="Menu-item" data-nav-parent="{{ link.id }}">
    <span>
        {{ link.displayText }}
    </span>
    <div class="Menu-item-subMenu" data-nav-child="{{ link.id }}">
        {% for child in link.internalLink.all %}
            <div>
                <a href="{{ child.page.one.url }}">
                    {{ child.displayText }}
                </a>
            </div>
        {% endfor %}
    </div>
</li>