{% extends '_layouts/default' %}

{% block content %}
    {% cache %}
        {% set hero = entry.pageHeroImage %}
        {% if hero | length %}
            <div class="Hero">
                <img src="{{hero.first.getUrl}}"/>
            </div>
        {% endif %}
        <section name="the-big-day">
            <h1>{{entry.theBigDayTitle}}</h1>
            {{entry.theBigDayCopy}}
            {% if entry.theBigDayImage.one() %}
                <img src="{{entry.theBigDayImage.one().url}}"/>
            {% endif %}
        </section>

        <section name="the-ceremony">
            <h1>{{entry.theCeremonyTitle}}</h1>
            {{entry.theCeremonyCopy}}
            {% if entry.theCeremonyImage.one() %}
                <img src="{{entry.theCeremonyImage.one().url}}"/>
            {% endif %}
        </section>

        <section name="the-reception">
            <h1>{{entry.theReceptionTitle}}</h1>
            {{entry.theReceptionCopy}}
            {% if entry.theReceptionImage.one() %}
                <img src="{{entry.theReceptionImage.one().url}}"/>
            {% endif %}
        </section>
    {% endcache %}
{% endblock %}
