{%include 'header' with {title: 'Details'}%}
<section name="the-big-day">
    <h1>{{entry.theBigDayTitle}}</h1>
    {{entry.theBigDayCopy}}
</section>
<section name="the-ceremony">
    <h1>{{entry.theCeremonyTitle}}</h1>
    {{entry.theCeremonyCopy}}
</section>
<section name="the-reception">
    <h1>{{entry.theReceptionTitle}}</h1>
    {{entry.theReceptionCopy}}
</section>
{%include 'footer'%}
