<div class="restaurant-container">
    <div class="title">{{restaurant.title}}</div>
    <ul>
        {% for cuisine in restaurant.cuisine %}
            <li>{{cuisine}}</li>
        {% endfor %}
    </ul>
    {% if restaurant.restaurantEpicentre %}
        <div class="address">Located in the Epicentre</div>
    {% else %}
        <div class="address">{{restaurant.restaurantAddress}}</div>
        <div class="prox">{{restaurant.restaurantProximity}}</div>
    {% endif %}
    <div class="description">{{restaurant.restaurantDescription}}</div>
</div>
