<li class="restaurant-container">
    <div class="title">{{restaurant.title}}</div>
    <div class="cuisine-container">
        <ul class="cuisine-list">
            {% for cuisine in restaurant.cuisine %}
                {# <li>{{cuisine}}</li> #}
            {% endfor %}
        </ul>
    </div>
    {% if restaurant.restaurantEpicentre %}
        <div class="address">Located in the Epicentre</div>
    {% else %}
        <div class="address">{{restaurant.restaurantAddress}}</div>
        <div class="prox">{{restaurant.restaurantProximity}}</div>
    {% endif %}
    <div class="description">{{restaurant.restaurantDescription}}</div>
</li>
