<li class="travel-container">
    <div class="mobile">
        <div class="col">
            <div class="travel title">{{travel.title}}</div>
            <div class="travel address">{{travel.travelTypeAddress}}</div>
        </div>
        <div class="col">
            <div class="travel description">{{travel.travelTypeDescription}}</div>
            <div class="travel phone">{{travel.travelTypePhone}}</div>
        </div>
    </div>
    <div class="desktop">
        <div class="travel title">{{travel.title}}</div>
        <div class="travel address">{{travel.travelTypeAddress}}</div>
        <div class="travel description">{{travel.travelTypeDescription}}</div>
        <div class="travel phone">{{travel.travelTypePhone}}</div>
    </div>
</li>
